@inherits LayoutComponentBase

<PageTitle>ELS.WebApp</PageTitle>

@*https://www.appstudio.dev/app/OpenIconic.html*@
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ELS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="vocabularies">
                        <span class="oi oi-list" aria-hidden="true"></span> Vocabulary
                    </NavLink>
                </li>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="sentences">
                        <span class="oi oi-align-left" aria-hidden="true"></span> Sentence
                    </NavLink>
                </div>
                <li class="nav-item">
                    <NavLink class="nav-link" href="studysets">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Study Set
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="test">
                        <span class="oi oi-pencil" aria-hidden="true"></span> Test
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main>
    <article class="content p-4">
        @Body
    </article>
</main>
