@page "/importvocabularies"
@using Microsoft.AspNetCore.Mvc;
@inject NavigationManager NavigationManager;
@inject IMediator Mediator

<h3>Import Vocabulary</h3>

<InputFile OnChange="HandleSelection" />
<br />
<div class="d-flex justify-content-start mt-4">
    <div class="btn-container">
        <button type="button"
                class="btn btn-primary"
                disabled="@(selectedFile == null)"
                @onclick="Import">
            Import
        </button>
        <button type="submit" class="btn btn-secondary" @onclick="Cancel">Cancel</button>
    </div>
</div>

@code {
    private IBrowserFile selectedFile = null;
    private readonly List<string> allowFileExtensions = new List<string> { ".xlsx" };

    private void HandleSelection(InputFileChangeEventArgs e)
    {
        var files = e.GetMultipleFiles();
        this.selectedFile = files[0];
    }

    private async Task Import()
    {
        if (selectedFile == null) return;

        var ms = new MemoryStream();
        await selectedFile.OpenReadStream().CopyToAsync(ms);

        string extension = Path.GetExtension(selectedFile.Name);

        if (!allowFileExtensions.Contains(extension))
        {
            throw new InvalidDataException();
        }

        var byteArray = ms.ToArray();
        await Mediator.Send(new Commands.Vocabularies.ImportVocabulary.ImportVocabularyCommand(byteArray, "System"));
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/vocabularies");
    }
}
